.desktop {
  position: relative;
  height: calc(100vh - var(--navigation-bar__height));
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 15px;
}
